/* Common styles for the posting page */
body {
  background-color: #f2fff2;
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #00b894;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.navbar-logo {
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
}

.posting-container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.posting-title {
  margin-bottom: 20px;
  color: #00b894;
}

.posting-form label {
  display: block;
  margin-bottom: 5px;
  color: #333;
  font-weight: bold;
}

.posting-form input[type="text"],
.posting-form textarea {
  width: calc(100% - 20px); /* Reduce the width by 20px (10px on each side) */
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.posting-form textarea {
  resize: vertical;
}

.post-button {
  background-color: #098466;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.post-button:hover {
  background-color: #075c46;
}

.post-button:focus {
  outline: none;
}

/* Media query for responsive design (adjust as needed) */
@media (max-width: 768px) {
  .posting-container {
    max-width: 90%;
  }
}
