/* signup_styles.css */

body {
  background-color: #f2fff2;
  margin: 0;
  padding: 0;
  font-family: "Roboto Condensed", sans-serif;
  color: #333333;
}

h1,
h2,
h3 {
  color: #00b894;
}

a {
  color: black;
  text-decoration: none;
}

.signup-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #b0ddcd;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
  color: black;
}
.signup-form {
  display: flex;
  flex-direction: column;
}

.signup-form label {
  margin-bottom: 8px;
}

.signup-form input {
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #b0ddcd;
  border-radius: 5px;
}

.signup-form button {
  background-color: #00b894;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.signup-form button:hover {
  background-color: #098466;
}
