:root {
  --primary-color: #00b894;
  --secondary-color: #098466;
  --text-color: #ffffff;
  --input-background: #00997a;
  --placeholder-color: #b0ddcd;
}

body {
  background-color: #f2fff2;
  margin: 0;
  padding: 0;
  font-family: "Roboto Condensed", sans-serif;
  color: #333333;
}

h1,
h2,
h3 {
  color: var(--primary-color);
}

a {
  color: var(--text-color);
  text-decoration: none;
}

.navbar {
  background-color: var(--primary-color);
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.navbar-buttons {
  margin-right: 15px;
}

.navbar-logo {
  color: var(--text-color);
  text-decoration: none;
  font-size: 20px;
}

.navbar-container {
  display: flex;
  align-items: center;
}

.navbar-item {
  color: var(--text-color);
  text-decoration: none;
  padding: 10px;
  font-size: 18px;
}

.navbar-item:hover {
  background-color: var(--secondary-color);
}

.navbar-login {
  background-color: var(--secondary-color);
  border-radius: 5px;
  margin-left: 5px;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 10px;
  flex: 1;
  max-width: 225px;
  background-color: var(--input-background);
  border-radius: 5px;
  height: 40px;
  padding: 0 10px;
}

#searchInput {
  flex: 1;
  height: 100%;
  border: none;
  background-color: transparent;
  color: var(--text-color);
  font-size: 16px;
  margin-top: 1px;
}

#search-button {
  width: 20px;
  height: 20px;
  background: url("images/magnifying_glass.png");
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  cursor: pointer;
}

#search-input::placeholder {
  color: var(--placeholder-color);
}

#search-button:hover {
  cursor: pointer;
}

.post-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: var(--primary-color);
  color: #ffffff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-size: 30px;
  text-align: center;
  line-height: 60px;
  text-decoration: none;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.post-button:hover {
  background-color: var(--secondary-color);
  cursor: pointer;
}

/* Style for the sections container */
.sections-container {
  display: flex;
  overflow-x: hidden; /* Hide horizontal scroll bar */
  scroll-snap-type: x mandatory; /* Enable snapping to sections */
  scroll-behavior: smooth; /* Smooth scrolling behavior */
}

.section {
  flex: 0 0 100%; /* Each section occupies full width */
  scroll-snap-align: start; /* Snap sections to start */
  padding: 20px;
}

.posts {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 1200px;
  margin: 20px auto;
  justify-content: space-between; /* Distribute columns evenly */
}

.post {
  margin-top: 15px;
  margin-left: 10px;
  margin-right: 10px;
  flex: 0 0 calc(33.33% - 20px); /* Each post occupies 33.33% of the container width with a gap of 20px */
  display: flex; /* Set the display to flex to keep the post content together */
  flex-direction: column; /* Stack post content vertically */
  justify-content: space-between; /* Add space between post content */
  padding: 10px;
  background-color: #f2f2f2;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  text-align: center;
}

/* Style for the scroll buttons */
.scroll-button {
  position: absolute;
  top: 30%;
  transform: translateY(-50%);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  color: #ffffff;
  background-color: var(--primary-color);
  opacity: 0.7;
  border-radius: 50%; /* Make the button circular */
  font-size: 18px; /* Adjust the arrow icon size */
}

.scroll-button.left {
  left: 10px;
}

.scroll-button.right {
  right: 10px;
}

.scroll-button:hover {
  opacity: 1;
}

/* Style for the About Us page */
.about-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.footer {
  background-color: var(--primary-color);
  color: var(--text-color);
  text-align: center;
  padding: 10px 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
#greetingContainer {
  display: flex;
  justify-content: center;
}
